@import "./general.css";
@import "./components/header.css";
@import "./components/footer.css";
@import "./components/post-card.css";
@import "./pages/home-page.css";
@import "./pages/post-page.css";

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/
@media (max-width: 84em) {
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

/**************************/
/* BELOW 960px (Tablets) */
/**************************/
@media (max-width: 60em) {
  html {
    font-size: 50%;
  }
  .btn-secondary {
    padding: 2rem;
  }
  .heading-primary,
  .heading-primary--v2 {
    font-size: 4rem;
  }
  .heading-secondary {
    font-size: 3rem;
    padding-bottom: 1rem;
  }
  .heading-tertiary {
    font-size: 2rem;
  }
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/
@media (max-width: 44em) {
}

/**************************/
/* BELOW 464px (Phones) */
/**************************/
@media (max-width: 29em) {
}
